/* ---------------- ------- --------------------- */
html {
	height: 100%;
}
body {
    font: 14px 'Roboto Condensed', Arial, sans-serif;
    color:#000000;
    line-height: 1.2;
	background:#eaf2ff url('/images/fon.png');
	height: 100%;
}
.shadow {
	box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.37);
	-o-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.37);
	-webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.37);
	-moz-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.37);
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}
h1 {
	font-size:32px;
	font-weight:400;
	text-align:center;
	margin-bottom:10px;
}
h2 {
	font-size:24px;
	font-weight:400;
	text-align:left;
	margin-top:0;
}
h3 {
	font-size:18px;
	font-weight:400;
	margin-top:0;
}
a {
	color:#005bab;
	text-decoration:underline;
}
a:focus {border:0; outline:0; color:inherit;}

.maincontent {
	margin: 0 auto;
    min-height: 100%;
}

.container {
	background:#ffffff;
}
.container.nopadding {
	padding:0;
}
.container.paddingleftmenu{
	padding: 0 15px 0 0;
}
.goldbutton {
	background:#bca157;
	color:#ffffff;
	border-radius: 10px;
	font-size:16px;
	padding:7px 15px;
}
.bluebutton {
	background:#005baa;
	color:#ffffff;
	border-radius: 10px;
	font-size:16px;
	padding:7px 15px;
}

/* ---------------- ------- --------------------- */


/* ---------------- header ---------------------- */


.container.header-wrap  {
	background:#005bab;
	padding:15px;
}
.header-wrap .tagline {
	font-size:20px;
	text-align:left;
	color:#ffffff;
	padding-top:15px;
}
.header-wrap .logo {
	color:#ffffff;
	font-size:20px;
	text-align:center;
}
.header-wrap .info {
	color:#ffffff;
	padding-top:15px;
	text-align:right;
}
.header-wrap .info .phone {
	font-weight:bold;
	font-size:20px;
}
.header-wrap .info .adress {
	font-size:13px;	
	padding:5px 0;
}
.header-wrap .info .call-me {
	display:block;
	float:right;
	text-decoration:none;
	margin-top:10px;
}

ul.menu {
	padding:10px 0;
	margin:0 auto;
	text-align:center;
}
ul.menu li {
	list-style-type:none;
	display:inline-block;
	font-size:16px;
	padding:5px 10px;
}
ul.menu li a {
}

.left-menu {}
.left-menu ul {
	padding:0;
	color:#ffffff;
}
.left-menu ul li {
	list-style-type:none;
	background:#005bab;
}
.left-menu ul li.active {
	background:#bca157;
}
.left-menu ul li a {
	font-size:16px;
	text-decoration:none;
	color:#ffffff;
	padding: 10px 5px 10px 20px;
	display:block;
}
.left-menu ul li.active a {}
.left-menu ul li > ul {
	background:#1b4467;
	padding: 5px 5px 10px 30px;
}
.left-menu ul li > ul li {
	background:transparent;
	padding:7px 5px;
}
.left-menu ul li > ul li.active {
	background:transparent;
}
.left-menu ul li > ul li a {
	font-size:13px;
	text-decoration:underline;
	padding:0;
}
.left-menu ul li > ul li.active a {
	color:#bca157;
}


/* ---------------- /header ---------------------- */


/* ---------------- content --------------------- */

.advantages {
	border-radius: 7px;
	width:100%;
	text-align:center;
	padding:15px;
	position:relative;
	background:#005bab;
	font-size:20px;
	text-transform:uppercase;
	font-weight:bold;
	color:#ffffff;
	margin: 15px 0;
}


.services-block {}
.services-element {
	position:relative;
	z-index:10;
	padding:15px;
	vertical-align:top;
}
.services-element h3 {
	text-align:center;
}
.services-element .image {}
.services-element .image img {
	border-radius:10px;
	width:100%;
}
.services-element .info {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	min-height:210px;
	top:0;
	left:0;
	z-index:50;
	background: rgba(0, 91, 170, 0.81);
	box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.23);
	-o-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.23);
	color:#ffffff;
	padding:20px;
}
.services-element .info h3 {
	padding-bottom:10px;
}
.services-element .info h3 a {
	color:#ffffff;
}
.services-element .info p {
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.44);
}
.services-element .info .goldbutton {
	font-size:18px;
	display:block;
	text-align:center;
	text-decoration:none;
	position:relative;
	bottom:15px;
}
.services-block .bluebutton {
	text-decoration:none;
	margin:30px auto;
	text-align:center;
	display:table;
	font-size:18px;
	padding:10px 85px;
}


.actions-element {
	max-height:300px;
	position:relative;
}
.actions-element img {
	width:100%;
	height:auto;
}
.actions-element .info {
	color:#ffffff;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.54);
	max-width:260px;
	position:absolute;
	display:block;
	top:20px;
	left:60px;
}
.actions-element .info h2 {
	font-weight: bold;
	margin-top:20px;
}
.actions-element .info p {
	margin-top:20px;
}


.specials-element {
	padding: 40px 15px;
}
.specials-element .info {
	
}
.specials-element .image {
	float:left;
	margin:0 20px 20px 0;
}
.specials-element .image img {
	border-radius:10px;
	width:100%;
	max-width:150px;
}


.extras-element {
	padding: 40px 15px;
	text-align:center;
}
.extras-element .info {
	text-align:center;
}
.extras-element .info h2 {
	text-align:center;
}
.extras-element .info .goldbutton {
	display:none;
	text-decoration:none;
}
.extras-element .image {

}
.extras-element .image img {
	border-radius:17px;
	width:100%;
	max-width:100px;
}
.extras-element:hover {
	background:#005baa;
	color:#ffffff;
	border-radius: 10px;
	padding: 20px 5px;
}
.extras-element:hover a {
	color:#ffffff;
}
.extras-element:hover .info .goldbutton {
	display:block;
}
.extras-element:hover .image img {
	border:2px solid #ffffff;
}


.sertificat-slider {
	width:90%;
	margin:0 auto;
	text-align:center;
}
.sertificat-element {
	text-align:center;
}
.sertificat-element a {
	display:inline-block;
}

.feedback-block {
	padding:40px 0;
}
.feedback-block label {
	display:inline-block;
	min-width:115px;
	width:auto;
	vertical-align:top;
	font-weight:normal;
}
.feedback-block input[type="text"], .feedback-block textarea {
	display:inline-block;
	width:100%;
	max-width: 500px;
	vertical-align:top;
	border-style: solid;
	border-width: 1px;
	border-color: #ababab;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.33);
	padding:5px 10px;
	margin-bottom:10px;
	resize:none;
}
.feedback-block input[type="button"] {
	border:0;
	display:block;
	margin: 0 auto;
	text-align:center;
	padding:8px 45px;
	margin-top:15px;
	font-size:16px;
}


#map {
	height:388px;
	display:block;
	position:relative;
	z-index: 10;
}
#map .info {
	position:relative;
	z-index: 5000;
	background:transparent url('/images/contacts.png');
	width:400px;
	height:388px;
	top:0;
	left:0;
	padding-top:218px;
}
#map .info .gray {
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.42);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.31);
	width: 294px;
	height: 109px;
	padding: 15px 10px;
	display:block;
	margin-bottom:10px;
}
#map .info .gray .home, #map .info .gray .phone, #map .info .gray .mail {
	padding-left:20px;
	display:block;
	font: 16px 'Roboto Condensed', Arial, sans-serif;
	margin:5px;
}
#map .info .gray .home {
	background:transparent url('/images/home-blue.png') center left no-repeat;
}
#map .info .gray .phone {
	background:transparent url('/images/phone-blue.png') center left no-repeat;
}
#map .info .gray .mail {
	background:transparent url('/images/mail-blue.png') center left no-repeat;
}
#map .info .soc {
	display:block;
	margin-left:15px;
}
#map .info .soc a {
	padding:3px;
}


.news-element {
	max-height:300px;
	position:relative;
}
.news-element img {
	width:100%;
	height:auto;
}
.news-element .info {
	color:#ffffff;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.54);
	max-width:360px;
	position:absolute;
	display:block;
	top:50px;
	left:300px;
}
.news-element .info h2 {
	margin-top:20px;
}
.news-element .info p {
	margin-top:20px;
}
.news-element .info .bluebutton {
	text-decoration:none;
	float:right;
	margin-top:20px;
}


/* ---------------- /content --------------------- */


/* ---------------- footer ---------------------- */

.hFooter {
    clear: both;
    height: 140px;
}

.footer-wrap {
	background:#800001;
	background: -moz-linear-gradient(top, #800001 0%, #660001 100%);
	background: -webkit-linear-gradient(top, #800001 0%, #660001 100%);
	background: -o-linear-gradient(top, #800001 0%, #660001 100%);
	background: -ms-linear-gradient(top, #800001 0%, #660001 100%);
	background: linear-gradient(top, #800001 0%, #660001 100%);
    min-height: 140px;
    margin: -140px auto 0;
	overflow:hidden;
}
.footer-block {
	margin-top:20px;
    color: #ffffff;
	background:#484848 url('/images/footer.jpg') no-repeat center ;
	padding:15px 20px;
	max-height:200px;
}
.footer-block p {
	margin:0;
}
.footer-block a {
    color: #ffffff;
}
.footer-block .footer-menu {
	display:inline-block;
	vertical-align:top;
}
.footer-block .footer-menu li {
	list-style-type:none;
}
.footer-block .footer-menu li a {
	text-decoration:none;
}
.footer-block .home, .footer-block .phone, .footer-block .mail {
	padding-left:20px;
	display:block;
	margin:5px 0;
}
.footer-block .home {
	background:transparent url('/images/home-white.png') center left no-repeat;
}
.footer-block .phone {
	background:transparent url('/images/phone-white.png') center left no-repeat;
}
.footer-block .mail {
	background:transparent url('/images/mail-white.png') center left no-repeat;
}

/* ---------------- /footer --------------------- */